name: Backend CI/CD

on:
  push:
    paths:
      - "backend/**"
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Build backend 
        working-directory: backend
        run: mvn clean package

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: NorwoodSpice
          environment_name: NorwoodSpice-env
          region: ${{ secrets.AWS_REGION }}
          version_label: github-${{ github.sha }}
          deployment_package: backend/target/restaurant-backend-1.0.0.jar
